---
- apiVersion: v1
  kind: Secret
  metadata:
    labels:
      osar: ${ObjectStoreSARequest}
    name: ${ObjectStoreSA}
  stringData:
    object-user: ${NAMESPACE}-${OSA}
    object-user-token: ${PATRONI_REPLICATION_PASSWORD}
    S3-endpoint: 
    app-db-password: ${APP_DB_PASSWORD}
