{
  "namespace": "{{ ns.name }}",
  "namespace_admins": "{{ ns.admins }}",
  "is_encryption_enabled": "{{ ns.encryption }}",
  "default_bucket_block_size": "{{ ns.bucket_default_block_quota }}",
  "is_stale_allowed": "{{ ns.allow_stale }}",
  "compliance_enabled": "{{ ns.enable_compliance }}",
}

