{
  "namespace": "{{ ns.name }}",
  "default_object_project": "",
  "default_data_services_vpool": "",
  "allowed_vpools_list": [
    ""
  ],
  "disallowed_vpools_list": [
    ""
  ],
  "namespace_admins": "{{ ns.admins }}",
  "user_mapping": [
    {
      "domain": "",
      "attributes": [
        {
          "key": "",
          "value": [
            ""
          ]
        }
      ],
      "groups": [
        ""
      ]
    }
  ],
  "is_encryption_enabled": "false",
  "default_bucket_block_size": "2",
  "external_group_admins": "",
  "is_stale_allowed": "",
  "compliance_enabled": "",
  "default_audit_delete_expiration": ""
}