#!/usr/bin/env bash

oc process -f https://raw.githubusercontent.com/bcgov/angular-scaffold/master/openshift/templates/angular-app/angular-app.json -p NAME={{ app_build_name }} -p GIT_REPO_URL={{ git_source }} {%  if git_branch is not none %}-p GIT_REF={{ git_branch }} {%  endif %} {% if context_dir is not none %} -p SOURCE_CONTEXT_DIR={{  context_dir }} {% endif %}| oc create -n {{ project_name }} -f -
