#!/usr/bin/env bash

oc export bc/{{ build_config_name }} -o json -n {{  project_name }} > {{ build_config_name }}-backup.json
oc patch --local=true -f {{ build_config_name }}-backup.json --type="json" -o json --patch='[   {     "op": "replace",     "path": "/spec/source",     "value": {       "type": "Dockerfile",       "dockerfile": "FROM {{ app_build_output_imagestream }}\nCOPY * /tmp/app/dist/\nCMD  /usr/libexec/s2i/run",       "images": [         {           "from": {             "kind": "ImageStreamTag",             "name": "{{  app_build_output_imagestream }}"           },           "paths": [             {               "sourcePath": "/opt/app-root/src/dist/.",               "destinationDir": "tmp"             }           ]         }       ]     }   },   {     "op": "replace",     "path": "/spec/strategy",     "value": {       "type": "Docker",       "dockerStrategy": {         "from": {           "kind": "ImageStreamTag",           "namespace": "openshift",           "name": "{{ runtime_image }}"         }       }     }   } ]' > {{ build_config_name }}-patched.json