0.0.0.0:2015

root /var/www/html

log stdout

errors stdout

gzip

realip {
    from 172.51.0.0/16
}

proxy / http://request-logger:8080 {
    transparent
}

ipfilter  / {
    rule allow
	ip 142.24.75.0/24
}
